{% extends 'base.html' %}
{% load static %}
{% block title %}
    Menu
{% endblock %}

{% block body %}

        <div class="input-group ms-3">
              <div class="form-outline">
                  <form action="" method="get">
                      {% csrf_token %}
                      {{ form_search }}
                  </form>
              </div>
              <button type="button" class="btn btn-primary py-0 px-2">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>

        </div>

    {% for category in categories %}

        <div class="btn-group">
            <a href="{{ category.get_absolute_url }}" class="btn btn-dark">{{ category.name }}</a>
            <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                {% for sub in category.scategory.all %}
                <li><a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

    {% endfor %}
    <br/><br/>





    <div class="row">
        {% for product in products %}
            <div class="col-lg-4 col-md-6 gy-3 mb-2">
                <div class="card" style="width: 20rem;" >
                    <img class="img-fluid" src="{{ product.image.url }}" alt="photo product">
                    <div class="card-body" >
                        <a href="{{ product.get_absolute_url }}" class="btn btn-dark"> Detail & Buy</a>
                    </div>
                </div>
            </div>


        {% endfor %}
    </div>




    </div>




{% endblock %}