{% extends 'base.html' %}

{% block title %}
    Edit Profile
{% endblock %}

{% block body %}
     <section class="bg-dark mt-5">
        <div class="container pt-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-light text-dark" style="border-radius: 1rem;">
                        <div class="card-body text-center">

                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="mb-md-4">

                                    <h2 class="fw-bold text-uppercase">Edit Profile</h2>
                                    <p class="text-dark-50 mb-4">Please change your data </p>

                                    <div class="form-outline form-white mb-3">
                                        {{ form.as_p }}
                                    </div>

                                    <button class="btn btn-outline-dark btn-lg mt-2" type="submit" value="Edit Save"> Edit Save
                                    </button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}