
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-nav">

            <a class="nav-link active" href="{% url 'home:home' %}">Home</a>
            <a class="nav-link active" href="{% url 'accounts:user_register' %}">Sign Up</a>
            <a class="nav-link active" href="{% url 'home:menu' %}">Menu</a>
            {% if request.user.is_admin %}
                <a class="nav-link active" href="{% url 'home:bucket' %}">Bucket</a>
            {% endif %}

        </div>

    </div>



</nav>