{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    Cart Page
{% endblock %}

{% block body %}

    <div >
     <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% translate 'Name' %}</th>
          <th scope="col">{% translate 'Quantity' %}</th>
          <th scope="col">{% translate 'Unit Price' %}</th>
          <th scope="col">{% translate 'Total Price' %}</th>
            <th scope="col">{% translate 'Remove' %}</th>
        </tr>
      </thead>
      <tbody>
          {% for item in cart %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td >{{ item.product }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.totalprice }}</td>
            <td><a href="{% url 'orders:cart_remove' item.product.id %}"> Remove </a></td>
            </tr>
          {% endfor %}

          <tr>
              <th scope="row">{% translate 'Total Price' %} </th>
              <td>{% translate 'Total Price' %} </td>
              <td colspan="4"></td>
              <td>{{ cart.get_total_price }}</td>
          </tr>
      </tbody>
    </table>
    </div>
    <a href="{% url 'orders:order_create' %}" class="btn btn-outline-light">{% translate 'Check Out' %}</a>



{% endblock %}