{% extends 'base.html' %}

{% block title %}
    Order Page
{% endblock %}

{% block body %}

    <h3 class="text-light text-center" >Check Out</h3>
    <p class="text-light text-center">Total :{{ order.get_total_price }}</p>
    <a href="{% url 'order_pay' order.id %}" class="btn btn-outline-light" > Pay</a>
    <form action="{% url 'orders:apply_coupon' order.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Apply">

    </form>



{% endblock %}


